---
name: Deploy docs
on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  workflow_dispatch:

permissions: {}

jobs:
  build-docs:
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a gh-pages deployment
    permissions:
      contents: write  # to let mkdocs write the new docs
      pages: write     # to deploy to Pages
      id-token: write  # allow to generate an OpenID Connect (OIDC) token

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0  # otherwise, you will fail to push refs to dest repo

      - name: Configure git for the bot
        # Gives the bot that commits to gh-pages a name & email address
        # so that the commits have an author in the commit log.
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: 3.12

      - name: Install poetry incl. plugins and just
        # We install poetry-dynamic-versioning into pipx because the automatic
        # install by poetry 2.x triggers a Windows issue
        # https://github.com/pypa/installer/issues/260
        # and also does not work on Ubuntu in gh-actions.
        run: |
          pipx install poetry
          pipx inject poetry poetry-dynamic-versioning
          pipx install rust-just

      - name: Install dependencies
        run: poetry install

      - name: Build and deploy documentation
        run: |
          cp src/dcat_4c_ap/schema/*.yaml docs/
          just gen-doc
          poetry run mkdocs gh-deploy
